*{
    margin: 0;
    padding: 0; 
}
body
{
    background: linear-gradient(270deg, #0b1524, #1a2636, #0b1524 );
}
header
{
    
color: white;
position: fixed;
width: 100%;
}


nav{
    border-bottom: 2px solid rgba(43, 43, 43, 0.421);
    background-color: #01081abc;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding: 20px 30px;
    font-size: 20px;
}

#logo{
    width: 68px;
    height: 50px;

    margin-right: auto;
}

.index{
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

footer{
    background-color: #01081abc;
    padding: 5%;
    margin-top: 50%;
    text-align: center;
    color: rgb(123, 123, 123); 
}


